<%- include('./header.ejs') %>
    <%- include('./sidebar.ejs') %>
        <div class="add">
            <div class="row">
                <div class="col-md-6">
            <table class="table mt-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" colspan="2">Date</th>
                        <th scope="col" colspan="1">Amount</th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                <tbody>
                    <%sales.forEach((sale)=>{%>
                        <tr>
                            <th scope="row">
                                <%=sale.id%>
                            </th>
                            <td colspan="2">
                                <%=sale.date%>
                            </td>
                            <td>
                                <%=sale.amount%>
                            </td>
                            <td>
                                <a href="/sale/get/<%=sale.id%>"><button class="btn btn-success">info</button></a>
                            </td>
                        </tr>
                        <%});%>
                </tbody>
            </table>

            </div>
            <div class="col-md-6">
                 <table class="table mt-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" colspan="2">Name</th>
                        <th scope="col" colspan="1">Phone </th>
                        <th scope="col">View</th>
                    </tr>
                </thead>
                </table>
            </div>
        </div>
        </div>
        <%- include('footer.ejs') %>