<%- include('./header.ejs') %>
    <%- include('./sidebar.ejs') %>
    
        <div class="add">
           
                
         <div class="row cards mt-5 mx-5">
          <div class="col-md-6">
              <div class="card ">
                <h4 class="card-header bg-primary">Current Day</h4>
                <div class="card-body">
                  <h5 class="card-title">Total Sales: 1</h5>
                  <br>
                  <h5 class="card-title">Total Amount: 10</h5>
                </div>
              </div>
              </div>
              <div class="col-md-6">
              <div class="card ">
                <h4 class="card-header bg-primary ">7 Days</h4>
                <div class="card-body">
                  <h5 class="card-title">Total Sales: 1</h5>
                  <br>
                  <h5 class="card-title">Total Amount: 10</h5>
                </div>
              </div>
        </div>
            </div>
             <div class="row">
            <table class="table mx-5 mt-5">
                <thead>
                    <tr>
                        <th scope="col">sale-id</th>
                        <th scope="col" colspan="2">Date</th>
                        <th scope="col" colspan="1">Amount</th>
                        <th scope="col">View Info</th>
                    </tr>
                </thead>
                <tbody>
                    <%sales.forEach((sale)=>{%>
                        <tr>
                            <th scope="row">
                                <%=sale.id%>
                            </th>
                            <td colspan="2">
                                <%=sale.date%>
                            </td>
                            <td>
                                <%=sale.amount%>
                            </td>
                            <td>
                                <a href="/sale/get/<%=sale.id%>"><button class="btn btn-success">info</button></a>
                            </td>
                        </tr>
                        <%});%>
                </tbody>
            </table>
        </div>

        </div>
        <%- include('footer.ejs') %>